<nav>
    <a href="/" class="button start"><span>Start</span></a>
    <a href="/TODO" class="button docs"><span>TODO</span></a>
    <a href="/TODO" class="button news"><span>TODO</span></a>
    <a href="/TODO" class="button contrib"><span>TODO</span></a>
    <a href="/TODO" class="button help"><span>TODO</span></a>
  </nav>